* {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
}

main {
    text-align: center;
    margin-top: 100px;
}